h1{
    color: rgba(75, 25, 144, 0.69);
    background-color: #f0f8ffa7;
}
table{background-color: rgba(161, 155, 158, 0.292);
    color: rgba(233, 123, 13, 0.679);

 }
 hr{
    width:4%;
    height: 20px;
    border-style: dotted none none none;
    border-width: 5px;
    border-color:azure(230, 232, 0.873);
 }
 h1{
    color:rgb(220, 165, 154);
 }
 h3{
    color:rgb(185, 119, 91);
 }

 .introduction{
    color:rgb(192, 76, 30);
 }
 #heading{
    color:rgb(255, 0, 123)
 }
 img:hover{
    background-color: rgb(43, 226, 80);
 }

 div{
   height:200px;
   width:200px;
   background-color: rgb(255, 183, 0);
   border:solid ;
   border-color: rgb(127, 136, 255);
   border-width: 5px;
 }